<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.studentmanage.mapper.ex.UserLoginMapper">
    <select id="verifyUser" resultType="com.briup.studentmanage.bean.ex.User">
        select password from t_manager where username=#{word}
    </select>
    <select id="verifyUserName" resultType="com.briup.studentmanage.bean.ex.User">
        select * from t_manager where username=#{word}
    </select>
</mapper>